<!-- HTML Code -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raunak Choudhary CV</title>
    <link rel="stylesheet" href="{% static 'rc_portfolio_cv/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Raunak Choudhary</h1>
            <p><strong>Phone:</strong> (929) 289-4648 | <strong>Email:</strong> raunak.choudhary@nyu.edu | <strong>Address:</strong> Brooklyn, NY</p>
            <p><strong>LinkedIn:</strong> <a href="http://linkedin.com/in/raunak-choudhary">linkedin.com/in/raunak-choudhary</a> | <strong>GitHub:</strong> <a href="http://github.com/raunak-choudhary">github.com/raunak-choudhary</a></p>
        </header>

        <section>
            <h2 style="margin-bottom: 2px; padding-bottom: 2px;"><u>EDUCATION:</u></h2>
            <p style="font-size: 15px; margin-top: 6px; margin-bottom: 0px; padding-bottom: 0px;"><strong>New York University</strong> - <i>Tandon School of Engineering</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Expected Graduation: May 2026</strong></p>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;"> 
                <li style="margin-bottom: 6px;">Master's in Computer Science</li>
                <li style="margin-top: 6px;"><strong>Relevant Coursework:</strong> Design and Analysis of Algorithms, Software Engineering, Machine Learning</li>
            </ul>

            <p style="font-size: 15px; margin-top: 6px; margin-bottom: 0px; padding-bottom: 0px;"><strong>Visvesvaraya Technological University</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>August 2017 - August 2021</strong></p>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;">
                <li style="margin-bottom: 6px;"> <i> Shri Madhwa Vadiraja Institute of Technology and Management </i> </li>
                <li style="margin-bottom: 6px; margin-top: 6px;">B.E. in Computer Science & Engineering - <strong><i> CGPA: 8.47/10.0 </i></strong> </li>
                <li style="margin-top: 6px;"><strong>Relevant Coursework:</strong> Data Structures, Advanced JAVA and J2EE, Web Technology and its Applications, Operating Systems</li>
            </ul>       
        </section>

        <section>
            <h2 style="margin-bottom: 2px; padding-bottom: 2px;"><u>WORK EXPERIENCE:</u></h2>
            <p style="font-size: 15px; margin-top: 6px; margin-bottom: 0px; padding-bottom: 0px;"> <strong> AWS Developer </strong> - <i> Tata Consultancy Services (TCS) Ltd. </i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> August 2021 - July 2024 </strong></p>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;">
                <li style="margin-bottom: 6px;">Led an 8-member Infrastructure TCS team for 1 year, achieving 100% on-time project delivery and reducing downtime by 20%.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Enhanced deployment efficiency by 25% through expertise in AWS Cloud Development, DevOps, and Infrastructure as Code.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Reduced system and network issues by 50% by supporting application and database teams with AWS infrastructure integration.</li>
                <li style="margin-bottom: 6px; margin-top: 6px; margin-right: 15px;">Executed high-impact solutions for global clients across the UK, US, and Brazil, resulting in a 15% improvement in client satisfaction scores.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Played a key role in the homogeneous and heterogeneous migration of 15+ applications, reducing migration time by 40% and ensuring zero data loss.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Collaborated with the lead AWS architect to design architecture diagrams for 10+ applications, improving system scalability by 30%.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Obtained AWS Certifications, boosting technical proficiency and accelerating project delivery timelines by 15% across teams.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Trained 15+ team members, reducing onboarding time by 50% and ensuring consistent client support.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Increased team productivity by 10% through proficiency, resilience, and minimal supervision.</li>
                <li style="margin-top: 6px; margin-bottom: 6px; margin-right: -5px;">Rated in the top 10% of professionals at my level by the manager and supervisor, reflecting consistent high performance and reliability.</li>
            </ul>

            <p style="font-size: 15px; margin-top: 6px; margin-bottom: 2px; padding-bottom: 2px;"> <strong> Data Science Intern </strong> -  <i>Great Learning Pvt. Ltd. </i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>June 2020 - August 2020 </strong></p>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;">
                <li style="margin-bottom: 6px;">Worked on Data Science, Statistical Learning, and Applied Statistics projects with Amazon E-commerce, Insurance, and LaLiga datasets,
                    analyzing over 1 million data points to uncover actionable insights.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;">Leveraged Python libraries such as NumPy and Pandas, applying Data Visualization, EDA, and statistical methods in project
                    implementations, resulting in a 20% reduction in analysis time and a 30% improvement in data accuracy.</li>
                <li style="margin-top: 6px; margin-bottom: 6px;">Employed advanced visualization techniques (Violin Plots, Network Graphs, Heatmaps), which enhanced insights and led to a 35%
                    improvement in dataset understanding.</li>
            </ul>
        </section>

        <section>
            <h2 style="margin-bottom: 6px; padding-bottom: 6px;"><u>PROJECTS:</u></h2>
            <p style="font-size: 15px; margin-top: 6px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>Cloud Migration Project </strong> | Amazon Web Services &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> November 2021 - July 2024</strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Spearheaded the infrastructure team in the Migration Execution project, developing infrastructure on the AWS Managed Services,
                and overseeing the migration of 40+ applications using various AWS tools.</p>

            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>TapShip - Tap to Ship</strong> | Web - Machine Learning Integrated Application &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> September 2020 - May 2021</strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Engineered a full-stack web application addressing trade and transport challenges for farmers, customers, and truck drivers,
                integrating Web, ML, and Cyber Security technologies into a unified platform.</p>
            
            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>App Rating Prediction</strong> | ML Application &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> November 2020 - December 2020</strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Developed a machine learning model to predict app ratings using a Google Play Store dataset. Applied Exploratory Data Analysis (EDA) 
                with Python libraries like NumPy, Pandas, and Seaborn. Implemented the Decision Tree algorithm to build the predictive model. The project was completed in Jupyter Notebook.</p>
            
            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>3D - Drowsiness Detection Device</strong> | IoT Device &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> January 2020 - February 2020</strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Created a real-time driver drowsiness detection system during the "Hack4Cause" hackathon. Integrated OpenCV for facial monitoring and 
                TensorFlow for model training, with Raspberry Pi triggering sensors based on detection. The system sent SMS alerts to the driver when drowsiness was detected. Aimed at enhancing driver safety through timely notifications.</p>

            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>Easylance - Freelancer Hiring System</strong> | Web Application &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> October 2019 - November 2019 </strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Developed a platform to connect freelancers with clients for project collaboration. The system was built using NODE.JS, HTML, 
                CSS for the front end, and MySQL for the back end. It enabled clients to post job requirements and freelancers to apply. The project streamlined the hiring process for independent professionals and businesses.</p>

            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>Smart Energy Meter</strong> | IoT Device &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> September 2019 - October 2019 </strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"><b>Description:</b> Developed an IoT-based Smart Energy Meter for real-time electricity consumption tracking. The system sent consumption data to 
                the electricity board and allowed users to pay bills through a mobile app or web portal. The project automated energy monitoring for residential and commercial buildings. Combined IoT and web development technologies.</p>

            <p style="font-size: 15px; margin-top: 10px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px;"> <strong>Autism Spectrum Disorder (ASD) Model</strong> | Machine Learning Project &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> July 2019 - August 2019 </strong></p>
            <p style="font-size: 13px; margin-top: 4px; margin-bottom: 1px; padding-bottom: 1px; margin-left: 10px; margin-right: 5px;"><b>Description:</b> Built a machine learning model to identify patients with Autism Spectrum Disorder (ASD). Applied algorithms like K-Nearest Neighbors, 
                Logistic Regression, and Support Vector Machine (SVM) using Python. The model was designed to aid in early diagnosis and improve prediction accuracy. Implemented various supervised learning techniques for better results.</p>
        </section>

        <section>
            <h2 style="margin-bottom: 4px; padding-bottom: 4px;"><u>SKILLS & CERTIFICATIONS:</u></h2>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;">
                <li style="margin-bottom: 6px;"><b>AWS Certifications:</b> AWS Certified Cloud Practitioner, AWS Certified Data Analytics - Specialty</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>MTA Certifications:</b> Introduction to Programming using Python (98-381), HTML5 Application Development Fundamentals (98-375), and
                    Networking Fundamentals (98-366)</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Technical Skills:</b> Cloud Computing, Data Science, Data Visualization, Statistical Analysis, Exploratory Data Analysis, Machine Learning, Web
                    Development, Artificial Intelligence</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Programming Languages:</b> Python, R, Java, C++, C, HTML5, CSS3, JavaScript, PHP, SQL</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Libraries & Frameworks:</b> BootStrap 5, React.js, Node.js, NumPy, Pandas, Matplotlib, Seaborn, ggplot2, PyTorch, TensorFlow</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Platforms:</b> Windows, Linux, macOS, Unix, AWS, Azure</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>DevOps Tools:</b> Docker, Kubernetes, Jenkins, Maven, Terraform, CloudFormation</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>AWS Tools/Services:</b> EC2, S3, RDS, Amazon MQ, DMS, DataSync, Lambda, IAM, KMS, VPC, Managed Services (AMS)</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Data Formats:</b> JSON, YAML</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><b>Other Tools:</b> Git, Advanced Excel, PostgreSQL, MySQL</li>
            </ul>
        </section>

        <section>
            <h2 style="margin-bottom: 4px; padding-bottom: 4px;"><u>KEY ACHIEVEMENTS:</u></h2>
            <ul style="font-size: 13px; margin-top: 8px; margin-right: 0px; margin-left: -15px;">
                <li style="margin-bottom: 6px;"><strong>Recognized as the Star of the Quarter (July-September 2023) </strong> for exceptional contributions to a critical project, meeting stringent licensing
                    requirements, and delivering a 30% improvement in project compliance and efficiency.</li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><strong>Secured 1st place </strong> in the "I2CONECCT-2021" Project Competition and Exhibition for presenting the "TapShip - Tap to Ship" 
                    project under the theme of Innovation and Humanitarian Technology. The project stood out among 20+ teams competing in this category. </li>
                <li style="margin-bottom: 6px; margin-top: 6px;"><strong>Awarded 2nd place </strong> for the IoT-based "Smart Energy Meter" project at the "IIoT - 2019" competition, hosted by the IEEE Student Chapter at SMVITM College. 
                    Out of over 40 teams, our project was recognized for its innovative solution in real-time electricity consumption tracking and automated billing, enhancing energy management for residential and commercial buildings.</li>
            </ul>
        </section>
        <hr>
        <footer>
            <p><center>&copy; 2024 | Raunak Choudhary</center></p>
        </footer>
    </div>
</body>
</html>